.wrapper {
  width: 100vw;
  height: 100vh;
}

header {
  border: 1px solid green;
}
/*******NAV BAR********/
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  -webkit-padding-start: 0px;
  list-style: none;
}

.my-logo,
.nav a {
  display: block;
  font-size: 3em;
  text-align: center;
  padding: 40px;
  text-decoration: none;
}
.my-logo {
  border: 1px solid red;
}

.nav a {
  border: 1px solid blue;
  flex-grow: 1;
}
/*******MOBILE PORTRAIT HOME********/
section.index-content{
  border: 1px solid red;
  text-align: center;
  margin: 40% 20%;
}

h1 {
  font-size: 5.1em;
}

hr {
  height: 3px;
  background-color: black;
}
/*******MOBILE PORTRAIT ABOUT********/
section.about-content{
  display: flex;
  flex-direction: column;
}

.bio h2{
  font-size: 4em;
  text-align: center;
  margin-bottom: 0px;
}
.bio, .me-photo {
  border: 1px solid red;
  height: 100%;
}
.bio p{
  margin: 30px 120px 60px;
  font-size: 3em;
  line-height: 1.8;
  text-align: left;
  border: 1px solid blue;
}
